
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.header{
    background-image: url(../Assets/Hero-bg.png);
    background-repeat: no-repeat;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 150px;
}
nav ul li{
    list-style: none;
    
}
.btn{
    background-color: #4E47FF;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    padding: 12px 36px;
    border-radius: 10px;
    
}
.title{
    font-size: 34px;
    color: #4E47FF;
}
.text-center{
    text-align: center;
}
.title-2{
    font-size: 65px;
    font-weight: bold;
}
.margin{
    margin:158px 117px;
}
.btn-2{
    margin-bottom: 100px;
}